{% from 'bootstrap5/form.html' import render_form %}
{% if current_user.is_admin %}
{% extends "base.html" %}
{% else %}
{% extends "base_auth.html" %}
{% endif %}
{% block title %}
{% if new_admin %}
Add New User
{% else %}
Edit User
{% endif %}
{% endblock %}
{% block body %}
<div class="content-section">

    <div class="center">
        <div class="card border-default">
            <div class="card-header">
                <strong style="font-size:25px;  font-weight: 900;"> {% if new_admin %}
                    ADD NEW USER ACCOUNT
                    {% elif current_user.id == admin.id %}
                    EDIT YOUR ACCOUNT
                    {% else %}
                    EDIT USER ACCOUNT
                    <a href="{{ url_for('admin.admin_password_resetter', id=admin.id) }}" class="btn btn-outline-warning btn-sm float-end">
                        {{ render_icon('key-fill', size='20px') }} RESET PASSWORD FOR THIS USER !
                    </a>
                    {% endif %}<a href="javascript:history.back()" class="btn btn-outline-danger btn-sm float-end">CANCEL</a></strong>
            </div>
            <div class="card-body">
                {% if current_user.is_admin %}
                {{ render_form(form, button_style='success', button_size='block') }}

                {% else %}
                {{ render_form(form, button_style='success', button_size='block') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}