{% from 'bootstrap5/form.html' import render_form %}

{% if current_user.is_admin %}
{% extends "base.html" %}
{% else %}
{% extends "base_auth.html" %}
{% endif %}
{% block title %}
{% if new_project %}
Add Project
{% else %}
Edit Project
{% endif %}
{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>

<div class="content-section">

  <div class="center">
    <div class="card border-primary">
      <div class="card-header">
        <strong style="font-size:25px;  font-weight: 900;"> {% if new_project %}
          ADD NEW PROJECT
          {% else %}
          EDIT PROJECT
          {% endif %} <a href="javascript:history.back()" class="btn btn-outline-danger btn-sm float-end">CANCEL</a></strong>
      </div>
      <div class="card-body">
        {{ render_form(form, button_style='success', button_size='block') }}
      </div>
    </div>
  </div>
</div>
<script>
  $('#tags').tokenfield({
    autocomplete: {
      source: [{% for tag in get_tags_name() %} '{{tag.tag_name}}', {% endfor %}],
    delay: 100
      },
    showAutocompleteOnFocus: true
    })
</script>
<script>
  $('#members').tokenfield({
    autocomplete: {
      source: [{% for member in get_members_name() %} '{{member.firstname}} {{member.lastname}}', {% endfor %}],
    delay: 100
      },
    showAutocompleteOnFocus: true
    })
</script>
<script>
  $('#external_members').tokenfield({
    autocomplete: {
      source: [{% for contact_member in get_contacts_fullname() %} '{{contact_member.firstname}} {{contact_member.lastname}}', {% endfor %}],
    delay: 100
      },
    showAutocompleteOnFocus: true
    })
</script>
{% endblock %}