{% from 'bootstrap5/form.html' import render_form %}

{% if current_user.is_admin %}
{% extends "base.html" %}
{% else %}
{% extends "base_auth.html" %}
{% endif %}
{% block title %}Observation de Vulnerabilité{% endblock %}
{% block body %}
<div class="content-section">

    <div class="center">
        <div class="card border-info">
            <div class="card-header">
             <strong style="font-size:25px;  font-weight: 900;">ADD  NOTES TO VULNERABILITY 
             </strong><a href="javascript:history.back()" class="btn btn-outline-danger btn-sm float-end">CANCEL</a></div>
            <div class="card-body">
                {{ render_form(form, button_style='success', button_size='block') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
