{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% if current_user.is_admin %}
{% extends "base.html" %}
{% else %}
{% extends "base_auth.html" %}
{% endif %}
{% block title %}Import data from csv{% endblock %}
{% block body %}

<div class="content-section">
   
   {{ render_messages(container = true, dismissible=true, dismiss_animate=true) }}
   
   <div class="container">
      <h3>IMPORT YOUR SERVERS CSV DATA :</h3>
      <hr>
      <strong style="color : grey;">Please input the column headers first, followed by a line for each record you wish to import. Use semicolons (;) to separate values. You can include multiple data and values separated by commas within the tags list. To import massive data, please follow the same format. Alternatively, you have the option to download a CSV Example file for importing the servers list  "<a href="{{ url_for('static', filename='downloads/servers_template.csv') }}">servers_template.csv</a>".</strong>
      <br />
      <br />
      <strong>COLUMN HEADER :</strong><br>
      server_name ; operating_system ; os_version ; type ; tags ; ip_address ; applications_list ; department_id ; notes
      ; vitality_classification ; network_id ; platform_id ; add_by ; add_date ; project_id
      <br />

      <br />
      {{ render_form(form, button_style='primary', button_size='block') }}
      <br />
      <br />
      <div class="row" style="font-family: Nunito;">
         <div class="col-lg-12">
            <h2>CSV Field Options</h2>
            <hr>
            <table class="table table-striped" style="font-size:16px;">
               <thead class="table-info" style=" text-transform: uppercase;" style="font-size: 14px;">
                  <tr>
                     <th>Filed Name</th>
                     <th>Required</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td> server_name</td>
                     <td> YES</td>
                     <td> Server Name</td>
                  </tr>
                  <tr>
                     <td> operating_system</td>
                     <td> --- </td>
                     <td> Operating System must be from List : [<strong> WINDOWS , LINUX , UNIX , OTHER </strong> ]</td>
                  </tr>
                  <tr>
                     <td> os_version</td>
                     <td> --- </td>
                     <td> Operating system Version Ex: [ Redhat 8, Win Server 2019, AIX7.1...]</td>
                  </tr>
                  <tr>
                     <td> type</td>
                     <td> --- </td>
                     <td> Type of IP , must be from List : [<strong> PHYS, VM, VIP, POD, OTHER </strong>]</td>
                  </tr>
                  <tr>
                     <td> ip_address</td>
                     <td> YES</td>
                     <td> IP Adresse </td>
                  </tr>
                  <tr>
                     <td> network_id</td>
                     <td> --- </td>
                     <td> Assigned Network, Select ID of network from List <a
                           href="{{ url_for('admin.list_networks') }}"> [Show List]</a></td>
                  </tr>
                  <tr>
                     <td> platform_id</td>
                     <td> --- </td>
                     <td> Assigned Devices</td>
                  </tr>
                  <tr>
                     <td> vitality_classification</td>
                     <td> YES</td>
                     <td> Vitality Classification, must be from List : [ <strong> VITAL, IMPORTANT, MIDDLE, OTHER
                        </strong> ]</td>
                  </tr>
                  <tr>
                     <td> notes</td>
                     <td> --- </td>
                     <td> Notes Or Comments </td>
                  </tr>
                  <tr>
                     <td> tags</td>
                     <td> --- </td>
                     <td> Tags Liste must be from list of tags <a href="{{ url_for('auth.tags_list') }}"> [Show
                           List]</a>, multiple tags with comma delimited are accepted EX: (TAG1, TAG2, TAG3) </td>
                  </tr>
                  <tr>
                     <td> add_by</td>
                     <td> --- </td>
                     <td> Assigned User, Select ID of User from List. <a href="{{ url_for('admin.list_admins') }}">
                           [Show List]</a></td>
                  </tr>
                  <tr>
                     <td> add_date</td>
                     <td> --- </td>
                     <td> Add Date time with format YYYY-MM-DD HH:MM:SS  [Ex : 2021-12-31 11:00:00 ]</td>
                  </tr>
                  <tr>
                     <td> department_id</td>
                     <td> --- </td>
                     <td> Assigned Department, Select ID of Department from List. <a
                           href="{{ url_for('admin.list_departments') }}"> [Show List]</a></td>
                  </tr>
                  <tr>
                     <td> applications_list</td>
                     <td> --- </td>
                     <td> Applications Liste <a href="{{ url_for('admin.list_applications') }}"> [Show List]</a></td>
                  </tr>
                  <tr>
                     <td> project_id</td>
                     <td> --- </td>
                     <td> Assigned Project, Select ID of Project from List. <a
                           href="{{ url_for('admin.list_projects') }}"> [Show List]</a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}