{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% if current_user.is_admin %}
{% extends "base.html" %}
{% else %}
{% extends "base_auth.html" %}
{% endif %}
{% block title %}New Contract{% endblock %}
{% block body %}
<div class="content-section">

    <div class="center">
        <div class="card border-info">
            <div class="card-header">
                <strong style="font-size:25px;  font-weight: 900;">{% if new_contract %}
                    ADD NEW CONTRACT
                    {% else %}
                    EDIT CONTRACT
                    {% endif %}
                    <a href="javascript:history.back()" class="btn btn-outline-danger btn-sm float-end">CANCEL</a>
                </strong>
            </div>
            <div class="card-body">
                <br />
                {% if not current_user.control_contracts and not current_user.is_admin %}
                <fieldset disabled="disabled">
                    {% else %}
                <fieldset>
                    {% endif %}
                    {{ render_form(form, button_style='success', button_size='block') }}
            </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
